<div class="container-fluid">
    <div class="">
        <form name="calculator">
            <table>
                <tr>
                    <td colspan="4">
                        <input type="number" name="outputData" readonly class="inputFields" id="outputValue" >
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" name="nine" [value]="9" (click)="getValue($event)" class="inputFields">
                    </td>
                    <td>
                        <input type="button" name="eight" [value]="8" (click)="getValue($event)" class="inputFields">
                    </td>
                    <td>
                        <input type="button" name="seven" [value]="7" (click)="getValue($event)" class="inputFields">
                    </td>
                    <td>
                        <input type="button" name="multiply" [value]=multiply (click)="getValue($event)"
                            class="inputFields">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" name="four" [value]="4" (click)="getValue($event)" class="inputFields">
                    </td>
                    <td>
                        <input type="button" name="five" [value]="5" (click)="getValue($event)" class="inputFields">
                    </td>
                    <td>
                        <input type="button" name="six" [value]="6" (click)="getValue($event)" class="inputFields">
                    </td>
                    <td>
                        <input type="button" name="subrtaction" [value]=subtraction (click)="getValue($event)"
                            class="inputFields">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" name="one" [value]="1" (click)="getValue($event)" class="inputFields">
                    </td>
                    <td>
                        <input type="button" name="two" [value]="2" (click)="getValue($event)" class="inputFields">
                    </td>
                    <td>
                        <input type="button" name="three" [value]="3" (click)="getValue($event)" class="inputFields">
                    </td>
                    <td>
                        <input type="button" name="addition" [value]=addition (click)="getValue($event)"
                            class="inputFields">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="button" name="zero" [value]="0" (click)="getValue($event)" class="inputFields">
                    </td>
                    <td>
                        <input type="button" name="clear" [value]=clear (click)="getValue($event)" class="inputFields">
                    </td>
                    <td>
                        <input type="button" name="equalto" [value]=equalto (click)="getValue($event)"
                            class="inputFields">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>